{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>NextFootstep.in</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/color/color-1.css' %}" id="color" />
  <link rel="shortcut icon" href="{% static 'images/short_icon.png' %}">
</head>

<body>

<!--  Header Top Start  -->
<header id="header-top_3">

  <!--===== HEADER BOTTOM =====-->
  <div id="header-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-2 hidden-xs hidden-sm"><a href="/"><img src="{% static 'images/logo-white.webp' %}" alt="logo"/></a></div>
        <div class="col-md-10 col-sm-12 col-xs-12">
          <div class="get-tuch text-left top20">
            <i class="icon-telephone114"></i>
            <ul>
              <li>
                <h4>Phone Number</h4>
              </li>
              <li>
                <p>+91 9900 111 419</p>
              </li>
            </ul>
          </div>
          <div class="get-tech-line top20"><img src="{% static 'images/get-tuch-line.png' %}" alt="line"/></div>
          <div class="get-tuch text-left top20">
            <i class="icon-icons74"></i>
            <ul>
              <li>
                <h4>Address</h4>
              </li>
              <li>
                <p>HSR Layout, Bengaluru</p>
              </li>
            </ul>
          </div>
          <div class="get-tech-line top20"><img src="{% static 'images/get-tuch-line.png' %}" alt="line"/></div>
          <div class="get-tuch text-left top20">
            <i class=" icon-icons142"></i>
            <ul>
              <li>
                <h4>Email Address</h4>
              </li>
              <li>
                <p><a href="mailto:hello@nextfootstep.in">hello@nextfootstep.in</a></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== #/HEADER BOTTOM =====-->

  <nav class="navbar navbar-default no-background navbar-sticky bootsnav">
    <div class="container">
      <!-- Start Header Navigation -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
        <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand sticky_logo" href="/"><img src="{% static 'images/logo-white.webp' %}" class="logo" alt=""></a>
      </div><!-- End Header Navigation -->
      <div class="collapse navbar-collapse nav_3 clearfix" id="navbar-menu">
        <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp"> 
              <li><a href="#.">Home</a></li>
              <li><a href="#about">About Us</a></li>
              <li><a href="#properties">Properties</a></li>
              <li><a href="#partners">Partners</a></li>
              <li><a href="#contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!--  Header Top End  -->


<!-- Banner -->
<section id="banner-nin" class="parallaxie">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="banner_detail">
          <h2>Welcome to <span>NextFootstep</span> Real Estate</h2>
          <div id="typewriter"></div>
          <div class="btns-box">
            <a href="https://wa.me/9900111419" target="_blank" class="btn_fill">Contact Advisor</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /#Banner --> 


<!-- ABOUT US -->
<section id="about" class="padding">
  <div class="container">
    
    <div class="row">

      <div class="col-md-7 col-sm-7 col-xs-12">

        <div class="row">
          <div class="col-md-12 bottom40">
            <h2 class="text-uppercase">About NextFootstep<span class="color_red"> Real Estate</span></h2>
            <div class="line_1"></div>
            <div class="line_2"></div>
            <div class="line_3"></div>
          </div>
        </div>

        <div class="about-sev-tag">

            <h4>Connecting people and property, perfectly.</h4>



<p>Welcome to NextFootstep Real Estate, where the possibilities for exceptional living are endless. Our stunning apartments are waiting to bring your grandest visions to life</p>



<p>We are redefining the future of property solutions to meet your every need. Our team is dedicated to providing you with a seamless experience that makes property search, buying, and selling simple and stress-free. With a wide range of options, including apartments, land and commercial spaces. </p>


<p>At NextFootstep, we understand that investing in property is a long-term commitment. That's why we are committed to helping you find a property that will grow in value over time. Our services are designed to help you find a place and community where you truely feel at home</p>

          <ul>
             <li><i class="fa fa-check-square" aria-hidden="true"></i> A perfect property, matching your lifestyle</li>
              <li><i class="fa fa-check-square" aria-hidden="true"></i> A hassle free buying/selling service</li>
              <li><i class="fa fa-check-square" aria-hidden="true"></i> A long-term growing investment</li>
              <li><i class="fa fa-check-square" aria-hidden="true"></i> A place and community you can live in</li>
          </ul>

          <div class="founder-text">
              <p>Don't wait to buy real state. Buy real state and wait.</p>
              <h3>- Founder.</h3>
          </div> 

        </div>

      </div>

      <div class="col-md-5 col-sm-5 col-xs-12">
        <div class="about-sev-img">
         <img src="{% static 'images/about.webp' %}" alt="image">
        </div>
      </div>

    </div>

  </div>
</section>
<!-- ABOUT US --> 

<!-- VIEW LISTING -->
<section id="image-text" class="padding-bottom-top-120 parallaxie">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="image-text-heading top30 bottom30">
          <h2 class="bottom40">We Don't Just Find<br><span>Great Deals</span> We Create Them</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- VIEW LISTING --> 

<!-- PROPERTY LISTING -->
<section id="properties" class="bg_light padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 bottom40">
        <h2 class="uppercase">PROPERTY <span class="color_red">LISTINGS</span></h2>
        <div class="line_1"></div>
        <div class="line_2"></div>
        <div class="line_3"></div>
        <p>We have properties for you in all corners of Bangalore.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="property_item bottom40">
          <div class="image">
            <img src="{% static 'images/property1.webp' %}" alt="listin" class="img-responsive">
            <div class="property_meta">
            <h4>Brigade Calista</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="property_item bottom40">
          <div class="image">
            <img src="{% static 'images/property2.webp' %}" alt="listin" class="img-responsive">
            <div class="property_meta">
            <h4>Sobha Sentosa</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="property_item bottom40">
          <div class="image">
            <img src="{% static 'images/property3.webp' %}" alt="listin" class="img-responsive">
            <div class="property_meta">
            <h4>Nikoo Homes Phase 5</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="property_item bottom40">
          <div class="image">
            <img src="{% static 'images/property4.webp' %}" alt="listin" class="img-responsive">
            <div class="property_meta">
            <h4>SNN Clermont</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="property_item bottom40">
          <div class="image">
            <img src="{% static 'images/property5.webp' %}" alt="listin" class="img-responsive">
            <div class="property_meta">
            <h4>Prestige Sanctuary</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="property_item bottom40">
          <div class="image">
            <img src="{% static 'images/property6.webp' %}" alt="listin" class="img-responsive">
            <div class="property_meta">
            <h4>L&T Raintree</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="pager">
          <li class="active"><a href="#.">1</a></li>
          <li><a href="#.">2</a></li>
          <li><a href="#.">3</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- PROPERTY LISTING --> 

<!-- IMAGE WITH CONTENT -->
<section class="info_section parallaxie">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-4"> </div>
      <div class="col-md-6 col-sm-8 right_box">
        <div class="right_box_inner padding clearfix">
          <div class="col-md-6 col-sm-6 white_content top20 bottom30">
            <i class="icon-library"></i>
            <h3 class="bottom10 top20">Residential</h3>
            <p>Find a place to call home</p>
          </div>
          <div class="col-md-6 col-sm-6 white_content top20 bottom30">
            <i class="icon-office"></i>
            <h3 class="bottom10 top20">Commercial</h3>
            <p>Get a commercial workspace.</p>
          </div>
          <div class="col-md-6 col-sm-6 white_content top20 bottom30">
            <i class=" icon-home"></i>
            <h3 class="bottom10 top20">Land</h3>
            <p>Get a land to build your dream home.</p>
          </div>
          <div class="col-md-6 col-sm-6 white_content top20 bottom30">
            <i class="icon-history"></i>
            <h3 class="bottom10 top20">Resale</h3>
            <p>Move on to your next foot step.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- IMAGE WITH CONTENT -->


<!-- PARTNER -->
<div id="partners" class="padding">
  <div class="container">
    <div class="row mb-20">
        <div class="col-sm-1 col-md-2"></div>
        <div class="col-xs-12 col-sm-10 col-md-8 text-center">
          <h2 class="text-uppercase">Our Trusted <span class="color_red">Partners</span></h2>
          <div class="line_1-1"></div>
          <div class="line_2-2"></div>
          <div class="line_3-3"></div>
          <p class="heading_space">We are registered channel partner with top brands in the town.</p>
        </div>
        <div class="col-sm-1 col-md-2"></div>
      </div>
    <div class="col-md-12">
      <div class="row">
        <div id="our-partner-slider" class="owl-carousel">
          <div class="item"><img src="{% static 'images/partner1.webp' %}" alt="Partners"></div>
          <div class="item"><img src="{% static 'images/partner2.webp' %}" alt="Partners"></div>
          <div class="item"><img src="{% static 'images/partner3.webp' %}" alt="Partners"></div>
          <div class="item"><img src="{% static 'images/partner4.webp' %}" alt="Partners"></div>
          <div class="item"><img src="{% static 'images/partner5.webp' %}" alt="Partners"></div>
          <div class="item"><img src="{% static 'images/partner6.webp' %}" alt="Partners"></div>
          <div class="item"><img src="{% static 'images/partner8.webp' %}" alt="Partners"></div>
          <div class="item"><img src="{% static 'images/partner9.webp' %}" alt="Partners"></div>
          <div class="item"><img src="{% static 'images/partner10.webp' %}" alt="Partners"></div>
          <div class="item"><img src="{% static 'images/partner11.webp' %}" alt="Partners"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- PARTNER -->


<!--===== TESTINOMIAL =====-->
<section id="testinomila_page" class="padding">
  <div class="container">
    <div class="row bottom40">
      <div class="col-md-12">
        <h2 class="text-uppercase">Customer <span class="color_red"> Feedback</span></h2>
        <div class="line_1"></div>
         <div class="line_2"></div>
         <div class="line_3"></div> 
      </div>
    </div>
    <div id="js-grid-masonry" class="cbp">
      <div class="cbp-item">
        <div class="cbp-caption-defaultWrap">
          <div class="testinomial_wrap">
            <div class="testinomial_text blue_dark text-center">
              <p>Next Foot Stesp, helped me finalize a flat in Prestige City. From start to finish, Pranjal provided top-notch service and expertise, making the entire process as smooth and stress-free as possible.</p>
            </div>
            <div class="testinomial_pic">
              <h4 class="color">Abhinav Bansal</h4>
            </div> 
          </div>
        </div>
      </div>
      
      <div class="cbp-item">
        <div class="cbp-caption-defaultWrap">
          <div class="testinomial_wrap">
            <div class="testinomial_text bg-danger">
              <p>Hi this side Sakthi here, i have there for a 3 months of internship and  it was a great experience even though Iam new to this field but I have gained more knowledge about this. About our boss Mr.Pratik sir who have been such a coolest person and I have never seen a Boss like him. The atmosphere was good and my colleagues were really appreciate which they helped me more.
Next about Mr.Pranjal who was more energetic person which I have never been seen in my life.
Finally Mr.Ravi  he have been admitted me more by his attitude</p>
            </div>
            <div class="testinomial_pic">
              <h4 class="color">Sakthi Sivakumar</h4>
            </div> 
          </div>
        </div>
      </div>
      
      <div class="cbp-item">
        <div class="cbp-caption-defaultWrap">
          <div class="testinomial_wrap">
            <div class="testinomial_text blue_dark  text-center">
              <p>When I first began looking for a home in Banglore a few months ago, I learned about Next Foot Step. Finding an ideal home was really difficult when you don't live in a city, but I have to admit that Mr. Pranjal was a huge help in helping me decide on the property at Prestige Meridian Park and book my first house in Bangalore. Everything, from the phone call to the site visit, was really well planned out and professional. It was a beautiful experience. I appreciate your assistance and wish you well!</p>
            </div>
            <div class="testinomial_pic">
              <h4 class="color">Abhishek Singh</h4>
            </div> 
          </div>
        </div>
      </div>
      
      <div class="cbp-item">
        <div class="cbp-caption-defaultWrap">
          <div class="testinomial_wrap">
            <div class="testinomial_text blue_dark  text-center">
              <p>I had a great experience with Pranjal having my dream home booked. He is a very calm and composed person. During the whole process, he was very responsive and had guided through out.

Looking forward to have him onboarded for future properties.</p>
            </div>
            <div class="testinomial_pic">
              <h4 class="color">Hemant Gupta</h4>
            </div> 
          </div>
        </div>
      </div>
      
      <div class="cbp-item">
        <div class="cbp-caption-defaultWrap">
          <div class="testinomial_wrap">
            <div class="testinomial_text bg-danger text-center">
              <p>Extremely professional group of people. They understand the client requirements, and suggest the best options as per their needs.Priya and Ravi were available throughout my 5-6 month search of an apartment in Bangalore, and i finally got one through them. You guys are doing a great job. keep it up.</p>
            </div>
            <div class="testinomial_pic">
              <h4 class="color">Abhinaba De</h4>
            </div> 
          </div>
        </div>
      </div>
      
      <div class="cbp-item">
        <div class="cbp-caption-defaultWrap">
          <div class="testinomial_wrap">
            <div class="testinomial_text blue_dark  text-center">
              <p>Ravi from nextfootstep is very professional and fulfilled all the promises.
He demonstrated the property very well and answered all my questions patiently.
Thanks a lot and keep doing the great work.</p>
            </div>
            <div class="testinomial_pic">
              <h4 class="color">Sandip</h4>
            </div> 
          </div>
        </div>
      </div>
      
      <div class="cbp-item">
        <div class="cbp-caption-defaultWrap">
          <div class="testinomial_wrap">
            <div class="testinomial_text bg-danger text-center">
              <p>Nice experience working closely with Next Foot step in identifying right property for me. I know many company and people but this GP is indeed different that focus first on customer need and value. Extremely happy with their service and special thanks to Subham for keep guiding me. Happy to say that I have referred many of friends to this company only because of good services and value they are proving to customers. Keep doing your good work Subham and team..</p>
            </div>
            <div class="testinomial_pic">
              <h4 class="color">Surbhi Singh</h4>
            </div> 
          </div>
        </div>
      </div>
      
      <div class="cbp-item">
        <div class="cbp-caption-defaultWrap testinomial_wrap">
            <div class="testinomial_text blue_dark  text-center">
            <p>Pranjal was very professional and he helped me to find my home. He was responsive and answered all my queries till I finalized the home.</p>
            </div>
          <div class="testinomial_pic">
          <h4 class="color">Anshul Agarwal</h4>
          </div> 
          </div>
      </div>
      
      <div class="cbp-item">
        <div class="cbp-caption-defaultWrap testinomial_wrap">
            <div class="testinomial_text blue_dark  text-center">
            <p>Pranjal was very professional, helpful and responsive. He made process of finding a new apartment very smooth and hassle free. I highly recommend Pranjal would reach out to him again if I am in the market for another apartment.</p>
            </div>
          <div class="testinomial_pic">
          <h4 class="color">Atul Kabra</h4>
          </div> 
          </div>
      </div>
      
    </div>
  </div>
</section>
<!--===== #/TESTINOMIAL =====--> 



<!-- FOOTER -->
<footer id="contact" class="footer divider layer-overlay overlay-dark-8">
  <div class="container pt-70 pb-40">
    <div class="row border-bottom">
      <div class="col-sm-6 col-md-4">
        <div class="widget dark">
          <img class="mt-5 mb-20" alt="" src="{% static 'images/logo.webp' %}">
          <p>4th floor, 1190/1, 1120, 22nd A Cross Rd, Sector 3,<br>
           HSR Layout, Bengaluru, Karnataka 560102</p>
           <br>
<p>2nd floor, Westlake plaza, Jakkuru main road, Bengalure, Karnataka 560064</p><br>
          <ul class="list-inline mt-5">
            <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-color-2 mr-5"></i> <a class="text-gray" href="#">+91-9900-111-419</a> </li><br>
            <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-color-2 mr-5"></i> <a class="text-gray" href="#.">hello@nextfootstep.in</a> </li>
            <br>
            <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-theme-color-2 mr-5"></i> <a class="text-gray" href="#.">www.nextfootstep.in</a> </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="widget dark">
          <h4 class="widget-title">Quick Links</h4>
          <div class="small-title">
            <div class="line1 background-color-white"></div>
            <div class="line2 background-color-white"></div>
            <div class="clearfix"></div>
          </div>
          <ul class="list angle-double-right list-border">
            <li> <a href="/">Home </a></li>
            <li> <a href="#about">About Us </a></li>
            <li> <a href="#properties">Properties</a></li>
            <li> <a href="#partners">Partners</a></li>
            <li> <a href="#.">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="widget dark">
          <h4 class="widget-title">Opening Hours</h4>
          <div class="small-title">
            <div class="line1 background-color-white"></div>
            <div class="line2 background-color-white"></div>
            <div class="clearfix"></div>
          </div>
          <div class="opening-hourse">
            <ul class="list-border">
              <li class="clearfix">
                <span> Mon - Sat : </span>
                <div class="value pull-right"> 08:00 am - 08:00 pm </div>
              </li>
              <li class="clearfix">
                <span> Sun : </span>
                <div class="value pull-right"> Closed </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="widget dark">
          <h5 class="widget-title mb-10">Connect With Us</h5>
          <ul class="socials">
            <li><a href="https://www.facebook.com/nextfootstep/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.linkedin.com/company/next-foot-step/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCPhtUyj5lBN1dD9yz8v6pFA"  target="_blank"><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://www.instagram.com/nextfootstep/?hl=en"  target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/nextfootstep1?lang=en"  target="_blank"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom bg-black-333">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <center class="font-11 text-black-777 m-0 copy-right">&copy; 2023-24 <a href="#.">
                <span class="color_red">nextfootstep.in</span></a>. All rights reserved. &nbsp; 
                <a href="/terms/">Terms & conditions</a> &nbsp;&nbsp; <a href="/privacy/">Privacy Policy</a>
           </center>
            <br>
          </div>
          </div>
        </div>
    </div>
  </div>
</footer>
<!-- #/FOOTER --> 

<!--===== REQUIRED JS =====--> 
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script> 
<script src="{% static 'js/bootstrap.min.js' %}"></script> 
<script src="{% static 'js/bootsnav.js' %}"></script>

<!--To View on scroll-->
<script src="{% static 'js/jquery.appear.js' %}"></script>
 
<!--Owl Slider-->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>

<!--Parallax-->
<script src="{% static 'js/parallaxie.js' %}"></script>

<!--Fancybox-->
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script> 

<!--Cube Gallery-->
<script src="{% static 'js/cubeportfolio.min.js' %}"></script> 

<!--Bootstrap Dropdown-->
<script src="{% static 'js/bootstrap-select.js' %}"></script>

<!--Video Popup-->
<script src="{% static 'js/videobox/video.js' %}"></script>

<!--Datepicker-->
<script src="{% static 'js/datepicker.js' %}"></script> 

<!--Dropzone-->
<script src="{% static 'js/dropzone.min.js' %}"></script>

<!--Wow animation-->
<script src="{% static 'js/wow.min.js' %}"></script>

<!--Rang Slider-->
<script src="{% static 'js/range-Slider.min.js' %}"></script> 

<!--Checkbox-->
<script src="{% static 'js/selectbox-0.2.min.js' %}"></script> 

<!--Checkbox-->
<script src="{% static 'js/scrollreveal.min.js' %}"></script> 

<!--Checkbox-->
<script src="{% static 'js/jquery-countTo.js' %}"></script> 

<!--Checkbox-->
<script src="{% static 'js/jquery.typewriter.js' %}"></script> 

<!--Checkbox-->
<script src="{% static 'js/death.min.js' %}"></script>

<!--Revolution Slider-->
<script src="{% static 'js/themepunch/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'js/themepunch/jquery.themepunch.revolution.min.js' %}"></script>   
<script src="{% static 'js/themepunch/revolution.extension.layeranimation.min.js' %}"></script> 
<script src="{% static 'js/themepunch/revolution.extension.navigation.min.js' %}"></script> 
<script src="{% static 'js/themepunch/revolution.extension.parallax.min.js' %}"></script> 
<script src="{% static 'js/themepunch/revolution.extension.slideanims.min.js' %}"></script> 
<script src="{% static 'js/themepunch/revolution.extension.video.min.js' %}"></script>

<!--Custom Js -->
<script src="{% static 'js/functions.js' %}"></script>

<!--Maps & Markers-->
<script src="{% static 'js/form.js' %}"></script> 
<script src="{% static 'js/custom-map.js' %}"></script> 
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAOBKD6V47-g_3opmidcmFapb3kSNAR70U"></script>
<script src="{% static 'js/gmaps.js' %}"></script>
<script src="{% static 'js/contact.js' %}"></script> 
<!--===== #/REQUIRED JS =====-->

</body>
</html>
